.nav__link {
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #828282;
}

@media (max-width: 550px) {
    .nav__link {
        font-size: 34px;
        line-height: 42px;
    }
}